<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Created by Matthew McCray on July 4th! -->
  </head>
  <body>
     <header>
      <h1><%= config.project_title %></h1>
      <h3><%= config.project_tagline %></h3>
     </header>
      <nav></nav>
      <article>
        <section>
          <%= yield %>
        </section>
      </article>
  </body>
</html>