
      body {
        background: url(/logo.png);
        background: url('/logo.png');
        background: url("/logo.png");

        background: url( /logo.png );
        background: url( '/logo.png' );
      }
    